@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#top-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

#navigation {
  color: #E60023;
  background-color: white;
  width: 75%;
}

#navigation a {
  color: #E60023;
}

#search-container {
  width: 75%;
}

.dropdown-toggle::after {
  display: none;
}

#dropdownMenuButton {
  color: black;
  font-size: 70px;
  font-weight: bold;
}

#dropdownMenuButton .btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

#homeh1 {
  font-size: 70px;
}

#homeh2 {
  font-size: 60px;
}
